/* .Menu{
    width: 100px;
    height: 100%;
    font-family:var(--Main-font)
} */
/* p{
    color:aliceblue;
} */
.choices{
    color:var(--light-color);
    font-size: 10px;
    margin: 2px;
    text-decoration: none;
    display: block;
    margin: 10px;
}
.choices:hover{
    border: 1px var(--dark-blue) outset;
    color: var(--light-color);
    transform: scale(1.1);
    transition: 0.8s;
    border-radius: 4px;
}
.item{
    color: var(--light-color);
    font-size: 7px;
    cursor: pointer;
}
.item:hover{
    margin-left: 15px;
    transition: 0.8s;
}